.modal-content {
  color: black;
}

.div-filme {
  max-width: 300px;
  word-break: normal;
}

.poster-filme {
  max-width: 300px;
  height: auto;
}

#modal-poster {
  max-width: 300px;
  height: auto;
}
.btn{
  background-color: blueviolet !important;
  color: white !important;
  border: none !important;
}
