#footer {
    position: absolute;
}

.container {
    width: 60%;
    margin-top: 10%;
}

.modal-content {
    color: black;
}

.div-filme {
    max-width: 300px;
    margin: 10px;
    word-break: break-all;
}

.poster-filme {
    max-width: 300px;
    height: auto;
}