@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.container {
  font-family: 'Roboto Slab', serif !important;
}

.modal-content {
  color: black;
}

#carrossel-filmes {
  display: none;
}
