/* html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  border: 0;

} */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");

/* #background {
  background-image: url("../imagens/cinema2.jpg");
  background-repeat: no-repeat;

} */

.navbar {
  background-color: rgb(225, 207, 242);
  font-family: "Varela Round", sans-serif;
}

.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  text-shadow: 2px 4px rgb(0 0 0 / 15%);
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  margin-top: 10%;
  /* margin-top: 10%; */
  font-family: "Varela Round", sans-serif;
  /* background: url("../imagens/cinema2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
   */
}

/* h4 {
  text-transform: uppercase;
} */

#footer {
  background-color: rgb(225, 207, 242);
  font-family: "Varela Round", sans-serif;
}
