@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(225, 207, 242);
  font-family: "Varela Round", sans-serif;
}

.navbar-light .navbar-brand {
  color: blueviolet;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  text-shadow: 2px 4px rgb(0 0 0 / 15%);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand:hover{
  color:blueviolet !important;
} 

.nav-link {
  color: rgb(101, 93, 109);
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
}

body {
  background-color: black;
  color: white;
}

.container {
  font-family: 'Roboto', sans-serif;
  font-weight: bold, 400;
}

h1 {
  text-transform: uppercase;
}

#div-externa {
  min-height: 100vh;
  width: 100vw;
  background: black url("../imagens/cinema2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sem-background {
  background: url("../imagens/cinema1.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#carrossel-filmes {
  width: 400px !important;
  /* height: 410px !important; */
}

.carousel-inner{
width: 75%;
margin: 0 auto;
}

.carousel-item {
  width:100%;
  height: 100%;
}

.carousel-item > div,
.carousel-item > div > img {
width: 100%!important;
height: 100%;
margin: 0 auto;
}

.btn {
  background-color: blueviolet;
  color: white;
  border: none;
}

#botao-login {
  background-color: blueviolet;
}


.img-filme:hover {
  cursor: pointer;
}

.logado {
  color: rgb(101, 93, 109);
  font-weight: bold;
}

#footer {
  background-color: rgb(225, 207, 242);
  font-family: "Bebas Neue", cursive;
  color: blueviolet !important;
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
}

#footer a {
  margin-left: 8px;
  font-family: "Bebas Neue", cursive;
  color: blueviolet;
}

@media (max-width: 769px) {

  main {
    flex-direction: column;
  }
}
