*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.btn {
  background-color: blueviolet;
  color: white;
  border: none;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  bottom: 0;
  height: 32px;
}

#footer a {
  color: blueviolet;
  margin-left: 8px;
}

#botao-login {
  background-color: blueviolet;
}

#logo {
  text-transform: uppercase;
  font-weight: bolder;
  color: blueviolet;
}

.img-filme:hover {
  cursor: pointer;
}

.logado {
  color: black;
}
