@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  background-color: rgb(225, 207, 242);
  font-family: "Varela Round", sans-serif;
}

.navbar-light .navbar-brand {
  color: blueviolet;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  text-shadow: 2px 4px rgb(0 0 0 / 15%);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand:hover{
  color:blueviolet !important;
} 

.nav-link {
  color:black !important;
}

main {
  display: flex;
  align-items: center;
}

#carrossel-filmes {
  width: 400px !important;
  /* height: 410px !important; */
}

.carousel-inner{
width: 75%;
margin: 0 auto;
}

.carousel-item {
  width:100%;
  height: 100%;
}

.carousel-item > div,
.carousel-item > div > img {
width: 100%!important;
height: 100%;
margin: 0 auto;
}

/* .navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
  text-shadow: 2px 4px rgb(0 0 0 / 15%);
  padding-top: 0;
  padding-bottom: 0;
} */

/* #logo {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: blueviolet; */

.container {
  font-family: "Varela Round", sans-serif;
}

#div-externa {
  min-height: 100vh;
  width: 100vw;
  background: black url("../imagens/cinema6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sem-background {
  background: black !important;
}

.btn {
  background-color: blueviolet;
  color: white;
  border: none;
}

#footer {
  background-color: rgb(225, 207, 242);
  font-family: "Bebas Neue", cursive;
  color: blueviolet !important;
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
}

#footer a {
  margin-left: 8px;
  font-family: "Bebas Neue", cursive;
  color: blueviolet;
}


#botao-login {
  background-color: blueviolet;
}


.img-filme:hover {
  cursor: pointer;
}

.logado {
  color: black;
}

@media (max-width: 769px) {

  main {
    flex-direction: column;
  }
}
